{% extends 'backend/admin_base.html' %}
{% load static %}

{% block content %}

                <div class="box_general padding_bottom ">
                    <div class="header_box version_2">
                        <h2><i class="fa fa-pencil"></i>Add new list</h2>
                    </div>
                    <div class="row">

                        <div class="col-md-8 add_top_30">
                            <div class="row">   
                                <form method="POST">
                                    {% include 'htmls/reuse-form.html' with form=add %}
                                <input type="submit" value="Add Car" class="btn btnsuccess"> 
                                </form>
                            </div>
                        <!-- </row> -->
                        </div>
                    </div>
					<br>
					<br>
					<br>
                </div>
                
{% endblock  %}
