{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>PYTHON CLASS - Admin dashboard</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="{% static 'backend/https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800' %}" rel="stylesheet">

    <!-- Bootstrap core CSS-->
    <link href="{% static 'backend/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Main styles -->
    <link href="{% static 'backend/css/admin.css' %}" rel="stylesheet">
    <!-- Icon fonts-->
    <link href="{% static 'backend/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Plugin styles -->
    <link href="{% static 'backend/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <!-- Your custom styles -->
    <link href="{% static 'backend/css/custom.css' %}" rel="stylesheet">

</head>

<body class="fixed-nav sticky-footer" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
        <a class="navbar-brand" href="{% url 'backend:index' %}"><img src="{% static 'backend/img/course_2.jpg' %}" data-retina="true" alt="" width="150" height="36"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="{% url 'backend:index' %}">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>



                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#Profile" data-parent="#Profile">

                        <i class="fa fa-fw fa-user"></i>
                        <span class="nav-link-text">My Profile</span>

                    </a>
                    <ul class="sidenav-second-level collapse" id="Profile">
                        <!-- <li>
                            <a href="{% url 'backend:userprofile' %}">Add Profile</a>
                        </li> -->
                        <li>
                            <a href="{% url 'backend:userprofile' %}">View Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'backend:userprofile' %}">Update Profile</a>
                        </li>
                    </ul>
                </li>





                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Messages">
                    <a class="nav-link" href="{% url 'backend:change_password' %}">
                        <i class="fa fa-fw fa-envelope-open"></i>
                        <span class="nav-link-text">Change Password</span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My listings">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMylistings" data-parent="#mylistings">
                        <i class="fa fa-fw fa-list"></i>
                        <span class="nav-link-text">Add listings</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseMylistings">
                        <li>
                            <a href="{% url 'backend:addlistings' %}">Create_new_list <span class="badge badge-pill badge-primary"></span></a>
                        </li>
                        <li>
                            <a href="{% url 'backend:viewlist' %}">View_list <span class="badge badge-pill badge-success">{{cnt}}</span></a>
                        </li>
                        
                    </ul>
                </li>




                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Properties">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#Properties" data-parent="#Properties">
                        <i class="fa fa-fw fa-gear"></i>
                        <span class="nav-link-text">Cars</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="Properties">
                        <li>
                            <a href="{% url 'backend:addcar' %}">Create new Car Type</a>
                        </li>
                        <li>
                            <a href="{% url 'backend:view-cars' %}">View Car Types <span class="badge badge-pill badge-success">{{cnt}}</span></a>
                        </li>
                    </ul>
                </li>


				
				
				
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Properties">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#Location" data-parent="#Location">
                        <i class="fa fa-fw fa-gear"></i>
                        <span class="nav-link-text">Add Location</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="Location">
                        <li>
                            <a href="{% url 'backend:addlocation' %}">Create Location <span class="badge badge-pill badge-success">{{count}}</a>
                        </li>
                        <li>
                            <a href="{% url 'backend:viewlocation' %}">View Location </span></a>
                        </li>
                       
                    </ul>
                </li>
				
                <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#Components">
                        <i class="fa fa-fw fa-gear"></i>
                        <span class="nav-link-text">Components</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseComponents">
                        <li>
                            <a href="charts.html">Charts</a>
                        </li>
                        <li>
                            <a href="tables.html">Tables</a>
                        </li>
                    </ul>
                </li> -->
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            
              
                <li class="nav">
                    <h5>  Welcome {{ request.user.get_username }} </h5>
                </li>
              
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item">
                    <a href="{% url 'Cars:home3' %}" >Home</a>
                </li> -->
                
                <li class="nav-item">
                    <a  class="nav-link" href="{% url 'Cars:home3' %}" >Home</a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" href="{% url 'Cars:motor3' %}">Cars</a>
                </li>
                
                
                    <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                </li>
               
                
            </ul>
        </div>
    </nav>
    <!-- /Navigation-->
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">My Dashboard</li>
            </ol>
            <!-- Icon Cards-->
            <div class="row">
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card dashboard text-white bg-primary o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fa fa-fw fa-envelope-open"></i>
                            </div>
                            
                            <div class="mr-5">
                                <h5>26 Cars!</h5>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="{% url 'Cars:motor3' %}">
                            <span class="float-left">View Cars</span>
                            <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card dashboard text-white bg-warning o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fa fa-fw fa-star"></i>
                            </div>
                            <div class="mr-5">
                                <h5>13 Dealer!</h5>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card dashboard text-white bg-success o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fa fa-fw fa-calendar-check-o"></i>
                            </div>
                            <div class="mr-5">
                                <h5>10  Location!</h5>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="{% url 'backend:viewlocation' %}">
                            <span class="float-left">View locations</span>
                            <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card dashboard text-white bg-danger o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fa fa-fw fa-heart"></i>
                            </div>
                            <div class="mr-5">
                                <h5>20 car For Rent!</h5>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#.html">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /cards -->
            <h2></h2>
            {% comment %} <div class="box_general padding_bottom"> {% endcomment %}
                {% comment %} <div class="header_box version_2">
                    <h2><i class="fa fa-bar-chart"></i>Statistic</h2>
                </div> {% endcomment %}
    
                {% block content %}
    
    
                {% endblock %}
            
            {% comment %} </div> {% endcomment %}
          </div>
            




        </div>
        <!-- /.container-fluid-->
    </div>
    <!-- /.container-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © PYTHON CLASS 2021</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'backend:admin_logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'backend/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'backend/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'backend/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{% static 'backend/vendor/chart.js/Chart.js' %}"></script>
    <script src="{% static 'backend/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'backend/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'backend/vendor/jquery.selectbox-0.2.js' %}"></script>
    <script src="{% static 'backend/vendor/retina-replace.min.js' %}"></script>
    <script src="{% static 'backend/vendor/jquery.magnific-popup.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'backend/js/admin.js' %}"></script>
    <!-- Custom scripts for this page-->
    <script src="{% static 'backend/js/admin-charts.js' %}"></script>

</body>

</html>


