{% extends 'backend/admin-reuse.html' %}
{% load static %}
{% block title%}
Cars
{% endblock%}


{% block content %}
 <!-- ***** Main Banner Area Start ***** -->


  <section class="section section-bg" id="call-to-action" style="background-image: url({% static 'assets/images/banner-image-1-1920x500.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <h2>Best <em>Car Listings</em> in Nigeria!</h2>
                    <div class="main-button">
                    <a href="{% url 'Cars:contact' %}">Contact Us</a>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
        <!-- ***** Main Banner Area End ***** -->

    <div class="container">
  <div class="contact-form">
    <form action="{% url 'Cars:form' %}"  method="GET" class="form-inline">
        <div class="row">

            <div class="col-lg-3 col-md-2.5 col-sm-2 col-xs-12">

                    <label>Offer Type</label>
                    <div class="select-wrap">
                        <!-- <span class="icon icon-arrow_drop_down"></span> -->
                       {{ fil.offer_type }}


                </div>
            </div>

            <div class="col-lg-3 col-md-2.5 col-sm-2 col-xs-12">

                    <label>Vehicle Type</label>
                    <div class="select-wrap">
                        {{ fil.vehicle_type }}
                </div>
            </div>



            <div class="col-lg-2.5 col-md-2.5 col-sm-2 col-xs-12">
                    <label>Make</label>
                    <div class="select-wrap">
                        {{ fil.make }}
                </div>
            </div>




            <div class="col-lg-2.5 col-md-2.5 col-sm-3 col-xs-12">
                    <label>Transmission</label>
                    <div class="select-wrap">
                        {{ fil.transmission }}

                </div>
            </div>





            <div class="col-lg-1 col-md-1 col-sm-2 ">
                                    &nbsp;

                <div class="button text-center">
                    <button type="submit"  class="btn" value="Search" > Search</button>

                </div>
        </div>
    </form>
</div>
</div>

                <div class="row">
                    {% if coo %}
                        {% for c in coo %}
                    <div class="col-lg-3">
                        <div class="trainer-item">
                            <div class="image-thumb">
                                <img src="{% static 'assets/images/product-1-720x480.jpg' %}" alt="">
                            </div>
                            <div class="down-content">
                                <span>
                                    <del><sup>$</sup>{{c.old_prize }} </del> &nbsp; <sup>$</sup>{{c.prize}}
                                </span>

                                <h4>{{ c.description}}</h4>

                                <p>
                                    <i class="fa fa-dashboard"></i> 130 000km &nbsp;&nbsp;&nbsp;
                                    <i class="fa fa-cube"></i> 1800 cc &nbsp;&nbsp;&nbsp;
                                    <i class="fa fa-cog"></i> Manual &nbsp;&nbsp;&nbsp;
                                </p>

                                <ul class="social-icons">
                                    <li><a href="{% url 'Cars:car_detail2' c.id %}">+ View Car</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="row">
                    {% if cot %}
                        {% for t in cot %}
                    <div class="col-lg-3">
                        <div class="trainer-item">
                            <div class="image-thumb">
                                <img src="{% static 'assets/images/product-1-720x480.jpg' %}" alt="">
                            </div>
                            <div class="down-content">
                                <span>
                                    <del><sup>$</sup>{{t.old_prize }} </del> &nbsp; <sup>$</sup>{{t.prize}}
                                </span>

                                <h4>{{ t.description}}</h4>

                                <p>
                                    <i class="fa fa-dashboard"></i> 130 000km &nbsp;&nbsp;&nbsp;
                                    <i class="fa fa-cube"></i> 1800 cc &nbsp;&nbsp;&nbsp;
                                    <i class="fa fa-cog"></i> Manual &nbsp;&nbsp;&nbsp;
                                </p>

                                <ul class="social-icons">
                                    <li><a href="{% url 'Cars:car_detail2' t.id %}">+ View Car</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <br>

                <nav>
                  <ul class="pagination pagination-lg justify-content-center">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>

            </div>

    </section>
    <!-- ***** Fleet Ends ***** -->


    {% endblock %}