{% extends 'backend/admin_base.html' %}
{% load static %}

{% block content %}
  <!-- Navigation-->
  
  <!-- /Navigation-->
<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
        <ol class="breadcrumb">
                <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Add listing</li>
        </ol>
		<div class="box_general padding_bottom">
			<div class="header_box version_2">
				<h2><i class="fa fa-user"></i>Profile details</h2>
			</div>
				
		

    <section class="section" id="trainers">
        <div class="container">
            <br>
            <br>
            <div class="row">
                
                <div class="col-md-8 col-sm-8">
                {% if dealer %}
                
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="{{ dealer.profile }}" alt="">
                        </div>
                        <div class="down-content">
                            <h4>{{ dealer.user_id}}</h4>
                            <p>{{ dealer.address }}</p>
                            <p>{{ dealer.phone }}</p>
                            <p>{{ dealer.biography }}</p>
                            <ul class="social-icons">
                                <!-- <li><a href="https://facebook/damilola aminaah.com"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li> -->
                            </ul>
                        </div>
                    </div>
                    
                {% endif %}

                </div>

			</div>
			<!-- /row-->
		</div>
    </section>   
	</div>
</div>

<!-- /.container-wrapper-->
{% endblock %}
