
{% extends 'htmls/base.html' %}
{% load static %}
{% block title%}
Blog  
{% endblock%}

    
    {% block content %}
    <section class="section section-bg" id="call-to-action" style="background-image: url({% static 'assets/images/banner-image-1-1920x500.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Read our <em>Blog</em></h2>
                        <p>Ut consectetur, metus sit amet aliquet placerat, enim est ultricies ligula</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Blog Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-lg-8">
                    <section class='tabs-content'>
                    {% if blog %}
                    {% for b in blog %}
                         <article>
                        <img src="{{ b.img_url }}" alt="">
                        <h4>{{b.title }}</h4>

                        <p><i class="fa fa-user"></i> {{b.author }} &nbsp;|&nbsp; <i class="fa fa-calendar"></i> {{b.time }} &nbsp;|&nbsp; <i class="fa fa-comments"></i>  15 comments</p>

                        <p>{{ b.content }}</p>
                        <div class="main-button">
                            <a href="{% url 'Cars:blog_detail' b.id %}">Continue Reading</a>
                        </div>
                      </article>
                      <br>
                      <br>

                        </div>

                <div class="col-lg-4">
                    <h5 class="h5">Search</h5>
                    
                    <div class="contact-form">
                        <form id="search_form" name="gs" method="GET" action="#">
                          <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                        </form>
                    </div>

                    <h5 class="h5">Recent posts</h5>

                    <ul>
                        <li>
                            <p><a href="{% url 'Cars:blog_detail' b.id  %}">{{ b.title }}</a></p>
                            <small><i class="fa fa-user"></i>{{ b.author }} &nbsp;|&nbsp; <i class="fa fa-calendar"></i>{{ b.time }}</small>
                        </li>
                     
                    </ul>
                </div>
            </div
                    {% endfor %}
                    {% endif %}
                     
                     
                    </section>
              >
        </div>
    </section>
    <!-- ***** Blog End ***** -->

    {% endblock %}