{% comment %} <aside class="col-lg-3">
    <div class="widget">
        <form action=""  class="search-form">
            <div class="form-group">
                <input type="text" name="q" id="search" class="form-control" placeholder="Search...">
            </div>
            <button type="submit" id="submit" class="btn_1 rounded"> Search</button>
        </form>
    </div>
    <!-- /widget -->
    <div class="widget">
        <div class="widget-title">
            <h4>Recent Posts</h4>
        </div>
        {% for b in most_recent %}
            <ul class="comments-list">
                <li>
                    <div class="alignleft">
                        <a href="{%url 'htmls:comm_details' b.id %}"><img src="{{ b.img}}" alt="" style="width: 90px; height: 90px; border-radius: 10px;"></a>
                    </div>
                    <small style="color: blue;">{{b.date}}</small>
                    <h3><a href="{%url 'htmls:comm_details' b.id %}" title=""  style="color: black; font-family: 'Charm', cursive;" class="">{{ b.title }}</a></h3>
                </li>
                
            </ul>
        {% endfor %}
    </div>
    {% endcomment %}