{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
      <!-- Favicons-->
      <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
      <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
      <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
      <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
      <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">
  
      <!-- GOOGLE WEB FONT -->
      <link href="{% static 'backend/https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800' %}" rel="stylesheet">
  
      <!-- Bootstrap core CSS-->
      <link href="{% static 'backend/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- Main styles -->
      <link href="{% static 'backend/css/admin.css' %}" rel="stylesheet">
      <!-- Icon fonts-->
      <link href="{% static 'backend/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
      <!-- Plugin styles -->
      <link href="{% static 'backend/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
      <!-- Your custom styles -->
      <link href="{% static 'backend/css/custom.css' %}" rel="stylesheet">
  
  
  
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>
        {% block title%}
        {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url 'home' %}" class="logo">Car Dealer<em> Website</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                                    
                                    
                            <li>
                                <a href="{% url 'Cars:home2' %}" >Home</a>
                            </li>
                            

                            <li>
                                <a href="{% url 'Cars:addlistings2' %}">Add Property</a>

                            </li>

                            <li>
                                <a href="{% url 'Cars:blog2' %}">Blog</a>

                            </li>
                            <li>
                                <a href="{% url 'Cars:dashboard' %}">Dashboard</a>

                            </li>


                            <li>
                                <a href="{% url 'Cars:team2' %}">Team</a>

                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="modal" data-target="#exampleModal" style="cursor:pointer;">
                                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                            </li>
                            
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    

    {% block content %}
    {% endblock %}
     
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2020 Company Name
                        - Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> {{request.user.get_username }} Are You Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                    </div>
                    <div class="modal-body">{{request.user.get_username }} "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="{% url 'backend:admin_logout' %}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'backend/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'backend/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'backend/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{% static 'backend/vendor/chart.js/Chart.js' %}"></script>
    <script src="{% static 'backend/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'backend/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'backend/vendor/jquery.selectbox-0.2.js' %}"></script>
    <script src="{% static 'backend/vendor/retina-replace.min.js' %}"></script>
    <script src="{% static 'backend/vendor/jquery.magnific-popup.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'backend/js/admin.js' %}"></script>
    <!-- Custom scripts for this page-->
    <script src="{% static 'backend/js/admin-charts.js' %}"></script>

    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script> 
    <script src="{% static 'assets/js/mixitup.js' %}"></script> 
    <script src="{% static 'assets/js/accordions.js' %}"></script>
    
    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

  </body>
</html>