{% load static %}




  <div class="col-md-3 col-lg-3 py-5  border bg-dark  h-75   ml-auto ">
    <ul class="nav flex-column sidenav">
      <li class="nav-item border-bottom">
        <a class="nav-link text-white active" href="{% url 'Cars:dashboard' %}"><strong>Dashboard</strong></a>
      </li>
      <br>
      <br>
      <li class="nav-item border-bottom">
        <a class="nav-link text-white" href="{% url 'Cars:viewlist' %}">view list Cars</a>
      </li>
      <br>
      <br>
      <li class="nav-item border-bottom">
        <a class="nav-link text-white" href="{% url 'Cars:home2' %}">View Cars </a>
      </li>
      <br>
      <br>
      <li class="nav-item border-bottom">
        <a class="nav-link text-white" href="{% url 'Cars:blog2' %}">blog</a>
      </li>
      <br>
      <br>
      <li class="nav-item border-bottom">
        <a class="nav-link text-white" href="{% url 'Cars:addbrand' %}">Add Brand</a>
      </li>
      <br>
      <br>
      <li class="nav-item border-bottom">
        <a class="nav-link text-white" href="{% url 'Cars:userprofile' user.id%}">View Profile</a>
      </li>
      <br>
      <br>
      <li class="nav-item border-bottom">
        <a class="nav-link text-white" href="{% url 'Cars:updateprofile' user.id %}">Edit Profile</a>
      </li>
      <br>
      <br>
      <li class="nav-item border-bottom">
        <a class="nav-link text-white" href="{% url 'Cars:createprofile'  %}">Create profile</a>
      </li>
      <br>
      <br>
    </ul>
  </div>